database:
    raids: "_raids.json"
    users: "_users.json"
listen: "0.0.0.0:8878"
pidfile: "_bot.pid"
maxAge: "72h"
cookie:
  auth: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
  key:  "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
slack:
	apiKey: "xxxx-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxxx-xxxxxx"
    admins:
        - "sladkuser1"
    slashKey:
        raids: "some-integration-key"
    slashCommand:
        raids: "/raid"
